# Ignore virtual environment
backend/MLmodel_training/myvenv/
**/myvenv/

# Ignore Python cache files
**/__pycache__/

# Ignore saved models and data files
**/*.pkl
**/*.csv

# Optionally ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/
